.combo-box .cell {
    -fx-text-fill: WHITE;
    -fx-font: 16px "Arial";
}

.combo-box {
    -fx-background-color: BLACK;
    -fx-font: 13px "Calibri";
}

.list-cell {
    -fx-background-color: BLACK;
}
